/* ===== Hero Background ===== */
.hero {
  background: linear-gradient(
    135deg,
    rgb(244, 241, 233),
    rgb(235, 229, 214),
    rgb(222, 215, 197)
  );
  position: relative;
  overflow: hidden;
}

/* ===== Hero Container & Animation ===== */
.heroContainer {
  width: 58%;
  max-width: 600px;
  margin: 0 auto;
  transform: rotate(-15deg);
  animation: rotateHero 20s ease-in-out infinite;
  animation-delay: 2s;
  position: relative;
  overflow: hidden;
}


/* Hero Image Styling */
.heroImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 15px;
  display: block;
}

/* ===== Hero Rotation Animation ===== */
@keyframes rotateHero {
  0% {
    transform: rotate(-15deg) translateX(0);
  }
  45% {
    transform: rotate(15deg) translateX(3px); /* يصل للزاوية +15deg */
  }
  55% {
    transform: rotate(15deg) translateX(3px); /* يقف هنا 2 ثانية */
  }
  100% {
    transform: rotate(-15deg) translateX(0); /* يرجع للبداية */
  }
}

/* ===== Responsive: Tablet ===== */
@media (min-width: 481px) and (max-width: 768px) {
  .heroContainer {
    max-width: 80%;
    transform: rotate(-10deg);
    animation: rotateHero 10s ease-in-out infinite;
  }

  .heroImage {
    margin-top: 10px;
  }
}

/* ===== Responsive: Mobile ===== */
@media (max-width: 480px) {
  .heroContainer {
    max-width: 100%;
    transform: rotate(-5deg);
    animation: rotateHero 10s ease-in-out infinite;
  }

  .heroImage {
    margin-top: 5px;
  }
}
