.scrolling-banner {
  width: 100%;
  background: #ffb703;
  color: #fff;
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  font-weight: bold;
}

.scrolling-banner p {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scrollText 12s linear infinite;
  font-size: 1.2rem;
}

/* Animation */
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
