
.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
}


.navbar-transparent.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}


.navbar-transparent .nav-link:hover {
    color: #28a745; 
}


@media (max-width: 767px) {
    .offcanvas-body {
        height: 100%;
    }
}
