.customcontainer {
    width: 45%;
  }
  
.img{
  display: block;
}

@media (max-width:992px) {
  .customcontainer {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .img{
    display: none;
  }
}
  