.accountStyle {
    border-bottom:1px solid rgb(231, 235, 239);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.2rem;
    transition: 120ms;
}
.accountStyle:hover{
    border-bottom: 2px solid rgb(118, 118, 118);
}
/* Account.module.css */
.customdropdown {
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
    background: transparent; /* Make background transparent */
    margin-bottom: 0%;
    
  }
  
.customdropdown::after {
    display: none; 
}
.customdropdown:hover{
    border-bottom: none;
}  