.bordered{
    border-bottom: 1px solid rgb(206, 218, 209);
}

.msg{
    text-align: center;
    padding: 0.6rem;
    margin-bottom: 2%;
    background-color: rgb(25, 135, 84);
    border-radius: 5px;
    color: aliceblue;
}
.msg2{
    text-align: center;
    padding: 0.6rem;
    margin-bottom: 2%;
    background-color: rgb(207, 57, 57);
    border-radius: 5px;
    color: aliceblue;
}
.img{
    width: 20%;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    gap:5px;
}

.btn{
    color:rgb(25, 135, 84);
    padding:0%;
    width: 84px;
    text-align: start;
}
