.part2{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 2px solid #e9e7e7;
    padding: 3%;
}

.part1{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 3%;
}
.part3{
    display: flex;
    flex-direction: column;
    gap:20px;
    border-top: 2px solid #e9e7e7;
    padding: 3%;
}