/* FilterSidebar.css */

/* General styles */
.filter-sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-sidebar h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #29e333;
  }
  
  /* Checkbox and Radio Button Styles */
  .checkbox-group label,
  .radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  .checkbox-group input,
  .radio-group input {
    display: none; /* Hide default checkbox and radio button */
  }
  
  /* Custom styling for checkbox and radio button */
  .checkbox-group input + label::before,
  .radio-group input + label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid #ccc;
    border-radius: 3px; /* Rounded for radio button */
    background-color: #fff;
  }
  
  /* Styling when checked */
  .checkbox-group input:checked + label::before {
    background-color: #1aef1d; /* Checked color */
    border-color: #0edc12;
  }
  
  .radio-group input:checked + label::before {
    background-color: #169f48; /* Checked color */
    border-color: #16c060;
    border-radius: 50%;
  }
  
 
  