/* main layout */
body {
  font-family: sans-serif;
}

h1 {
  font-weight: 900; /* Adjust based on available weights */
  font-style: normal; /* Normal style */
}

h2 {
  font-weight: 100; /* Light weight */
  font-style: italic; /* Italic style */
}

/* Add more styles as needed */

.maincolor{
    background-color: rgb(239, 67, 67);
}
a:hover svg {
  color: #1adc5a; /* Change to desired color */
  transition: color 0.3s ease;
}

.active{
  border-bottom: 3px solid green;
}
.nav-link.active{
  border-bottom: 2px solid green;
  font-weight: 700;
}

.no-border {
  border: none;
  outline: 1px solid #d3d3d3;
}

.responsive-width {
  width: 100%;
}

@media (min-width: 992px) {
  .responsive-width {
    width: 60%;
  }
}

.colorbg{
  background-color: rgb(240, 243, 242);
}

::selection {
  background-color: rgba(27, 182, 27, 0.532); /* Customize this color */
  color: #141212; /* Customize the text color if needed */
}
